* {
    box-sizing: border-box;
    font-family: 'poppins' , sans-serif;
    }

html {
    scroll-behavior: smooth;
}

body{
    background-color: #EDC7B7;
}

li{
    list-style: none;
}

:root{
    --table-color: black;
}

/*header*/
nav{
    background-color: #BAB2B5;
    color: white;
    border: outset;
    display: flex;
    justify-content: center;
}

.list-header ul{
    display: flex;
    flex-direction: row;
}

.list-header ul li{
    margin: 0 10px;
}

.list-header ul li a{
    color: white;
    text-decoration: none;
}

.list-header ul li a:hover{
    color: blue;
    text-decoration: none;
}

/*body-index*/

.info-me{ 
    display: flex; /*grid??*/
    flex-direction: column;
    align-items: center;
}

section article p span{
    color: red;
    font-size: xx-large;
    font-family: Impact;
}

section article img{
    width: 290px;
}

.lists{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    margin-bottom: 10px;
}

h2{
    text-align: center;
}

.certificate{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.certificate div{
    display: flex;
    flex-direction: column;
    text-align: center;
}

.certificate-photo{
    width: 450px;
    height: 300px;
}

section article dl dt a{
    text-decoration: none;
}

.fondo{
    background-image: url(../images/fondo.jpg);
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

.fondo dt a{
    color: white;
}

/*body-hobbys*/

.table-games{
    border: 2px solid var(--table-color);
    margin: 0px 130px;
    text-align: center;
}

.table-title{
    background-color: aqua;
}

.line{
    border-top: 1px solid var(--table-color);
}

.list-food{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.food{
    width: 200px;
    margin-left: 40px;
}

.list-gender{
    border: dashed red;
    border-radius: 9%;
}

.list-artist{
    border: 2px dotted blue;
    border-radius: 9%;
}

/*body-japan*/

.japan{
    display: flex;
    flex-direction: row;
}

.japan div img{
    width: 200px;
    height: 120px;
}

.table-japan{
    border: 2px solid var(--table-color);
    margin: 10px;
    text-align: center;
}

.table-japan tr:nth-child(even){
    background-color: red;
}

.video{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 10px;
}

/*Footer*/
footer{
    border-top: solid rgb(0, 0, 0);
}

.footer-section{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

.img-icon{
    width: 28px;
    height: 28px;
}

footer div div ul li a{
    text-decoration: none;
}